@font-face {
  font-family: "PT Sans Regular";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/PTSans-Regular.tff") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans italic";
  font-style: italic;
  font-weight: 400;
  src: url("fonts/PTSans-Italic.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans Bolt";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/PTSans-Bold.tff") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans Bolt italic";
  font-style: italic;
  font-weight: 700;
  src: url("fonts/PTSans-BoldItalic.tff") format("ttf");
  font-display: swap;
}

.visually-hidden {
  position: absolsute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "PT Sans Regular", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  width: 1200px;
  text-align: center;
}

.page-header {
  display: flex;
  justify-content: space-between;

}

.navigation-list {
  font-family: "PT Sans Bolt", sans-serif;
  line-height: 25, 88px;
  font-size: 20px;
  color: #000000;
  background-color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  gap: 33px;
}

.navigation-item {
}

.button1 {
  font-size: 16px;
  line-height: 20.7px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756257;
  border: 4px;
}

.main-logo {
  color: #000000;
  background-color: #ffffff;
  background-image: url(/images/index-background.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.benefits-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
}

.benefits-list-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 384px;
}

.list-items {
  display: flex;
}

.benefits-images {
  width: 1200;
  height: 400;
}

.benefits-list .benefitst-imagees2 {
  order: -1;
}

.benefits-items {
  height: 384px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;

.main {
  text-align: center;
}

.mainText {
  font-family: "PT Sans Bolt", sans-serif;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.button2 {
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756257;
  border-radius: 10px;
}

.main-footer {
  color:#ffffff;
  background-color:#000000;
  display: none;
}

.main-footer {
  text-align: center;
}

.background-e-mail {
  color: #ffffff;
  background-color: #000000;
  background-image: url(/images/background.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
}


.social-kontakt{
display: flex;
}
