
@font-face {
  font-family: "PT Sans Regular";
  font-style:normal;
  font-weight: 400;
  src: url("fonts/PTSans-Regular.tff")format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans italic";
  font-style:italic;
  font-weight: 400;
  src: url("fonts/PTSans-Italic.ttf")format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans Bolt";
  font-style:normal;
  font-weight: 700;
  src: url("fonts/PTSans-Bold.tff")format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans Bolt italic";
  font-style:italic;
  font-weight: 700;
  src: url("fonts/PTSans-BoldItalic.tff")format("ttf");
  font-display: swap;
}

body {
  font-family: "PT Sans Regular", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}
.page-header{
  display: flex;
justify-content: space-between;
}

.navigation-list {
font-family: "PT Sans Bolt", sans-serif;
line-height: 25,88px;
font-size: 20px;
color:#000000;
background-color:#ffffff;
font-weight: 700;
text-decoration: none;

}

.button1 {
font-size: 16px;
line-height: 20.7px;
text-transform: uppercase;
color:#ffffff;
background-color:#756257;
border: 4px;
}

.main-logo {
color: #000000;
background-color: #ffffff;
background-image: url ("/images/index-background.png");
background-size: 100% auto;
background-repeat: no-repeat;
}

.main{
  text-align: center;
}


.mainText{
font-family: "PT Sans Bolt", sans-serif;
font-size: 30px;
line-height: 36px;
text-transform: uppercase;
text-align: center;
}

.info-list{
  font-family: "PT Sans Bolt", sans-serif;
  font-size: 18px;
  line-height: 21px;
  display: flex;
justify-content: space-between;

}
.columncolor1{
  color: #ffffff;
  background-color:#83B3D3;
}
.columncolor2{
  color:#333333;
  background-color: #83B3D31F;
  ;
}
.columncolor3{
  color:#333333;
  background-color:#83B3D333;
}
h2 {
  font-family: "PT Sans Bolt", sans-serif;
  font-size: 24px;
  line-height: 28px;
}

h3{
  font-family: "PT Sans Bolt", sans-serif;
  font-size: 24px;
  line-height: 28px;
}

.titleh2{
  font-family: "PT Sans Bolt", sans-serif;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.button2{
  font-size: 20px;
line-height: 36px;
text-transform: uppercase;
color:#ffffff;
background-color:#756257;
border-radius: 10px;
}

.main-footer{
  text-align: center;
}

.e-mail{
  color:#ffffff
  background-color: #000000;
  background-image: url (/images/background.png);
}

.e-mail >h2{
  font-family: "PT Sans Bolt", sans-serif;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
