@font-face {
  font-family: "PT Sans Regular";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/PTSans-Regular.tff") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans italic";
  font-style: italic;
  font-weight: 400;
  src: url("fonts/PTSans-Italic.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans Bolt";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/PTSans-Bold.tff") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans Bolt italic";
  font-style: italic;
  font-weight: 700;
  src: url("fonts/PTSans-BoldItalic.tff") format("ttf");
  font-display: swap;
}

.visually-hidden {
  position: absolsute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "PT Sans Regular", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  width: 1200px;
}

.page-header {
  width: 1200px;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navigation-list {
  font-family: "PT Sans Regular", sans-serif;
  font-size: 20px;
  line-height: 25.88px;
  color: #000000;
  background-color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  gap: 33px;
}
.header-logo {
  position: absolute;
  bottom: 0;
  left: 531px;
  right: 531px;
}

.navigation-item {
  text-decoration: none;
  list-style-type: none;
  font-family: "PT Sans Regular", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  color: #333333;
  display: flex;
  align-items: center;
}

.button-want {
  font-size: 16px;
  line-height: 20.7px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756257;
  border: 4px;
  width: 160px;
  height: 37px;
}

.main-logo {
  color: #000000;
  background-color: #ffffff;
  background-image: url(/images/index-background.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 51px 372px 81px 372px;
  position: relative;
}
.main-logo-kris {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.mainText {
  font-family: "PT Sans Bolt", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
  width: 720px;
  height: 80px;
  text-align: center;
  margin: 0 auto;
  padding: 63px 240px 23px 240px;
}

.causes {
  font-family: "PT Sans Regular", sans-serif;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: #333333;
  padding: 23px 240px 79px 240px;
  margin: 0px;
}

.benefits-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
}

.benefits-list-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 384px;
  color: #ffffff;
  background-color: #83b3d3;
}
.benefits-list-heading {
  font-family: "PT Sans Regular", sans-serif;
  font-size: 24px;
  line-height: 38px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.list-items-1 {
  width: 400px;
  height: 384px;
  color: #333333;
  background-color: rgba(131, 179, 211, 0.12);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-items-2 {
  width: 400px;
  height: 384px;
  color: #333333;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-items-3 {
  width: 400px;
  height: 384px;
  color: #333333;
  background-color: rgba(131, 179, 211, 0.12);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-heading {
  font-family: "PT Sans Regular", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.list-items {
  display: flex;
}

.benefits-images {
  width: 1200;
  height: 400;
}

.benefits-list .benefitst-imagees2 {
  order: -1;
}

.benefits-items {
  height: 384px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.benefits-items.card-1 {
  color: #333333;
  background-color: rgba(131, 179, 211, 0.12);
}

.benefits-items.card-2 {
  color: #333333;
  background-color: rgba(131, 179, 211, 0.2);
}
.benefits-items.card-3 {
  color: #333333;
  background-color: rgba(131, 179, 211, 0.12);
}

.search-hotel {
  width: 1200px;
  height: 417px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bolt-text {
  font-family: "PT Sans Regular", sans-serif;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 91px 15px;
}
.text {
  font-family: "PT Sans Regular", sans-serif;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  font-weight: 400;
  width: 720px;
  height: 37px;
  padding: 91 240 15 240;
}

.button-search-hotel {
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756257;
  border-radius: 10px;
  width: 570px;
  height: 60px;
  text-align: center;
  margin: 73px;
}

.conteiner {
  max-width: 1057px;
  padding: 0px 15px;
  margin: 0px auto;
}
.search {
  color: #ffffff;
  background-color: #000000;
  background-image: url(/images/catalog-background\ 1.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  height: 418px;
}

.title-search {
  font-family: "PT Sans Regular", sans-serif;
  font-size: 60px;
  line-height: 77.6px;
  font-weight: 700;
  color: #ffffff;
}
.link-html {
  color: #ffffff;
  text-decoration: none;
  list-style-type: none;
}

.search-settings {
  display: flex;
}
.search-setting-list {
  text-decoration: none;
  list-style-type: none;
}

.min-max-price {
  display: flex;
  flex-wrap: wrap;
}
.kind-result {
  width: 1057px;
  height: 48px;
  display: flex;
}

.text-search {
  font-family: "PT Sans Regular", sans-serif;
  font-size: 30px;
  line-height: 38px;
  font-weight: bold;
  text-transform: uppercase;
}

.product-card {
  display: flex;
  justify-content: space-between;
  width: 1056px;
  height: 123px;
  margin: 60px 60px 60px 72px;
}

.pr {
  display: flex;
}

.product-card-images {
  margin: 31px 36px 31px 72px;
}
.product-card-title {
  font-family: "PT Sans Regular", sans-serif;
  font-size: 24px;
  line-height: 31px;
  font-weight: bold;
}
.product-card-text {
  font-family: "PT Sans Regular", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.rating {
  font-family: "PT Sans Regular", sans-serif;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  width: 160px;
  height: 37px;
  font-weight: 400;
  background-color: rgba(242, 242, 242, 1);
  text-align: center;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-more-detalis {
  color: #ffffff;
  background-color: rgba(117, 98, 87, 1);
  font-family: "PT Sans Regular", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  text-transform: uppercase;
  width: 151px;
  height: 37px;
  border-radius: 4px;
}

.button-favorites {
  color: #ffffff;
  background-color: rgba(131, 179, 211, 1);
  font-family: "PT Sans Regular", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  text-transform: uppercase;
  width: 151px;
  height: 37px;
  border-radius: 4px;
}

.button-favorites-selected {
  color: #ffffff;
  background-color: rgba(125, 181, 79, 1);
  font-family: "PT Sans Regular", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  text-transform: uppercase;
  width: 151px;
  height: 37px;
  border-radius: 4px;
}

.button-load-more {
  font-family: "PT Sans Bolt", sans-serif;
  line-height: 25, 88px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #68a2ca;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 625px;
  height: 55px;
  margin: 0 auto;
  border-radius: 4px;
}

.pagination-section {
  display: flex;
  justify-content: space-between;
}

.pagination {
  display: flex;
  text-decoration: none;
  list-style-type: none;
}

.pagination-item {
  text-align: center;
  color: #ffffff;
  background-color: #68a2ca;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-left: 7px;
  margin-right: 7px;
}
.pagination-link {
  text-decoration: none;
  list-style-type: none;
  font-family: "PT Sans Regular", sans-serif;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
}

.main-footer {
  text-align: center;
}

.background-e-mail {
  color: #ffffff;
  background-color: #000000;
  background-image: url(/images/background.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  height: 411px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.background-e-mail.catalog {
  color: #333333;
  background-color: #ffffff;
  background-image: none;
  width: 1200px;
  height: 411px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.footer-heading {
  font-family: "PT Sans Regular", sans-serif;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

.text-heading {
  font-family: "PT Sans Regular", sans-serif;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  font-weight: 400;
}
.over {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-submit {
  font-family: "PT Sans Regular", sans-serif;
  font-size: 18px;
  line-height: 26px;
  text-align: start;
  font-weight: 400;
  margin-right: -17px;
  width: 600px;
  height: 60;
}

.butter-submit {
  font-family: "PT Sans Regular", sans-serif;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #83b3d3;
  margin-left: 0px;
}
.social-kontakt {
  width: 1200px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-list {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

.tel-number {
  font-family: "PT Sans Regular", sans-serif;
  font-size: 40px;
  line-height: 40px;
  width: 720px;
  height: 50px;
  padding: 40px 240px 30px 240px;
}
